extends templates/header.pug

block content
	.container
		br
		.jumbotron
			h1.bs-docs-featurette-title Economoose | About
			p.lead Economoose is made by Adam Boult
		footer
			h3 Contact
			p.version Created by Adam Boult
			p Feedback is welcome, and can be sent to: 
				a(href="mailto:adam@bou.lt") adam@bou.lt
			a(href="https://github.com/adamdboult/") GitHub
			br
			a(href="https://wwww.linkedin.com/in/adamdboult") LinkedIn

